@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #d0d9e4;
  --background-rgb: #24272d;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
}